<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2020</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">IMS Engineering College
               </h4>
               <ul>
                <li> IMS Engineering Collge is AKTU Affiliated College in Gujurat </li>
                <li><b>University Roll n.o</b>- 1614310061</li>
                    <li>Completed B.E in Computer Engineering in 2020</li>
                 <li>Interested in sports in college <b>like cricket,footbal,badminton</b> </li>
                 </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2015</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">Dr.Rizvi Learners Academy
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the bases of science,mathematics and co-colecular activities.
                                  </li>
                                  <li>
                                     I have taken maths with computer science.
                                  </li>
                                  <li>
                                      Taken part in varies sports events in school
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012 - 2013</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">St. patrick's sr sec school
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li>
               
                <li>
                   It is Christion Missinary school in <b>Jaunpur</b>
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>